---
import Layout from "../../layouts/Layout.astro";
import astrix from "../../../public/assets/asterisk.png";
import Marquee from "../../components/marquee.astro";
import Footer from "../../components/Footer.astro";
import Navbar2 from "../../components/Navbar2.astro";
import ContactForm from '../../components/ContactForm.astro';
import KuldeepImage from "../../../public/assets/Kuldeep.jpg";
import PradeepImage from "../../../public/assets/Pradeep.jpeg";
import VishwaImage from "../../../public/assets/Vishwa.jpg";

const sections = [
    {
        number: "01",
        title: "Experiences",
        content: "With 17 years in the business, we know what works and how to apply it to your unique situation."
    },
    {
        number: "02",
        title: "Focus",
        content: "We focus on practical solutions that drive real results for your business."
    },
    {
        number: "03",
        title: "Approach",
        content: "Our approach combines data-driven insights with creative problem-solving."
    },
    {
        number: "04",
        title: "Commitment",
        content: "We're committed to delivering value and measurable outcomes for every project."
    }
];
---


<Layout title="CX-Point">
    <div class="w-full h-full bg-[#E7E7D6]">
        <Navbar2/>
        <div class="w-full min-h-screen px-2 lg:px-32 py-20">
            <div class="w-full pt-24">
                <div class="w-full h-full overflow-hidden">
                    <p class="text-[25px] lg:text-[60px] akira animated-text ">With over 20+ years of combined</p>
                </div>
                <div class="w-full h-full overflow-hidden">
                    <p class="text-[25px] lg:text-[60px] akira animated-text">contact center experience, we’re here to</p>
                </div>
                <div class="w-full h-full overflow-hidden">
                    <p class="text-[25px] lg:text-[60px] akira animated-text">solve real business problems with CX</p>
                </div>
                <div class="w-full h-full overflow-hidden">
                    <p class="text-[25px] lg:text-[60px] akira animated-text">automation solutions powered by AI</p>
                </div>
            </div>
            <div class="w-full flex px-0 lg:px-18 pt-14 lg:pt-2">
                <div class="w-full h-full pt-12">
                    <p class="text-[25px] font-bold">
                        Who we are
                    </p>
                    <div class="text-[16px] font-semibold text-gray-500">
                        At CXPoint, we have experience of providing Contact Center consulting and implementation services to small and large businesses for over two decades. Our journey started with a passion for Contact Center Networks, Next Generation Contact center technology platform and a desire to help global businesses succeed in implementing Cloud Contact Center solutions successfully. Today, we are proud to have helped numerous clients optimize their transformation journey from on-prem legacy to Cloud based CCaaS solution using our Bespoke solutions for CCaaS platforms and help customers achieve their business goals.​
                    </div>
                </div>
            </div>
            <div class="w-full flex flex-col lg:flex-row gap-10 lg:gap-0 px-0 lg:px-18 pt-6">
                <div class="w-full lg:w-[50%] h-full flex items-center lg:pt-12 opaq">
                    <div>
                        <p class="text-[25px] font-bold">
                            Our Expertise
                        </p>
                        <div class="text-[16px] font-semibold text-gray-500">
                            Our expertise - Our team of Cloud Contact Center and AI professionals has expertise in a wide range of CCaaS solutions, as well as designing and developing BESPOKE solutions to meet business needs for successful faster implementation. We leverage our experience of CCaaS products and expertise on cloud design ,implementation, Cloud contact center security, Generative AI based custom solutions for cloud contact center, and more. We stay up-to-date with the latest trends and best practices in the contact center industry to provide our clients, together with our partners the best possible solutions.
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-[50%] h-full flex flex-col lg:flex-row items-center lg:p-12 opaq">
                    <div>
                        <p class="text-[25px] font-bold">
                            Our Clients
                        </p>
                        <p class="text-[16px] font-semibold text-gray-500">
                            We work with a diverse range of small to global fortune 500 companies across various industries, from small to established companies which have major contact center operations. Our clients have always appreciated our expertise on Automation products as we well as transparent and personalized, value led approach to driving Contact Center Migration , Contact Center Transformation and platform management services program to gain successful outcomes. We are always committed to our clients success.
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-full flex px-0 lg:px-18 pt-10" id="locations">
                <div class="w-full h-full lg:pt-12">
                    <p class="text-[25px] font-bold">
                        World Wide Locations
                    </p>
                    <p class="text-[16px] font-semibold text-gray-500">
                        We don't just create designs - we solve your problems. It all starts with listening. We dive deep into understanding your business, your challenges, and your goals. Then we use data, creativity and practical solutions to craft a plan that works. No unnecessary extras, no bloated budgets - just what makes sense for you.  
                    </p>
                    <div class="w-full flex items-center justify-center py-24">
                        <div class="w-full h-full grid grid-cols-2 md:grid-cols-2 lg:grid-cols-6 gap-4">
                            <div class="w-full h-full bg-[#1E1E1D] rounded-tl-3xl rounded-bl-3xl rounded-tr-3xl py-5 px-4 text-center text-xl lg:text-2xl text-white">US</div>
                            <div class="w-full h-full bg-[#1E1E1D] rounded-tl-3xl rounded-bl-3xl rounded-tr-3xl py-5 px-4 text-center text-xl lg:text-2xl text-white">UK</div>
                            <div class="w-full h-full bg-[#1E1E1D] rounded-tl-3xl rounded-bl-3xl rounded-tr-3xl py-5 px-4 text-center text-xl lg:text-2xl text-white">Europe</div>
                            <div class="w-full h-full bg-[#1E1E1D] rounded-tl-3xl rounded-bl-3xl rounded-tr-3xl py-5 px-4 text-center text-xl lg:text-2xl text-white">AsiaPac</div>
                            <div class="w-full h-full bg-[#1E1E1D] rounded-tl-3xl rounded-bl-3xl rounded-tr-3xl py-5 px-4 text-center text-xl lg:text-2xl text-white">ANZ</div>
                            <div class="w-full h-full bg-[#1E1E1D] rounded-tl-3xl rounded-bl-3xl rounded-tr-3xl py-5 px-4 text-center text-xl lg:text-2xl text-white">Middleeast</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-0 lg:mt-20">
            <Marquee />
        </div>
        <!-- <div class="w-full h-screen flex flex-col items-center justify-around px-4 lg:px-40 space-y-4 lg:my-28 my-14 gap-10">
            {sections.map((section) => (
                <div class="w-full flex lg:flex-row flex-col justify-center lg:justify-between items-start lg:items-center lg:space-y-14 space-y-8">
                    <div class="flex items-start justify-center gap-2">
                        <p class="text-lg lg:text-2xl font-semibold">{section.number}</p>
                        <p class="text-4xl lg:text-4xl font-bold">{section.title}</p>
                    </div>
                    <p class="text-xl lg:text-base font-bold w-full lg:w-3/4 text-start lg:text-end h-full">
                        {section.content}
                    </p>
                </div>
                <hr class="w-full my-2 lg:my-4 border-t border-gray-300" />
            ))}
        </div> -->


        <div class="w-full h-fit mt-32 lg:mt-20 lg:pt-8 lg:px-32 flex flex-col items-start justify-around lg:justify-between">
            <div class="lg:w-[60%] akira text-4xl ">
                <div class="flex lg:flex-row flex-col gap-2 px-2 lg:px-0">
                    <img src={astrix.src} alt="astrix" class="w-[30px] h-[30px] astrix" />
                    <p class="text-lg lg:text-3xl lg:flex hidden">And let’s be clear, we hate wasting time or money.</p>
                </div>
                <p class="text-xl lg:text-3xl lg:px-0 px-2">We don’t inflate our budgets just because we think you won’t accept our hourly rate. In fact, we don’t care about hourly rates. Thanks to our experience, we work at lightning speed. We focus on getting things done efficiently, without cutting corners.</p>
            </div>

            <div id="testimonial" class="testimonial-content-sticky w-full flex flex-wrap items-center justify-center lg:mt-20" style="overflow-x: hidden;">
                <!-- Desktop version (hidden on mobile) -->
                <div class="testimonial-content-block-v2 hidden lg:flex gap-10">
                    <div class="testimonial-single-card-block">
                        <div class="testimonial-image-block">
                            <img src={KuldeepImage.src} loading="lazy" alt="" class="testimonial-image">
                        </div>
                        <div class="testimonial-content-block">
                            <h3 class="testimonial-author-name font-bold">Kuldeep Sharma</h3>
                            <div class="testimonial-designation-text font-bold text-[#8D8D9B]">Project manager</div>
                        </div>
                    </div>
                    <div class="testimonial-single-card-block">
                        <div class="testimonial-image-block">
                            <img src={PradeepImage.src} loading="lazy" alt="" class="testimonial-image">
                        </div>
                        <div class="testimonial-content-block">
                            <h3 class="testimonial-author-name font-bold">Pradeep J</h3>
                            <div class="testimonial-designation-text font-bold text-[#8D8D9B]">VP Sales & Service</div>
                        </div>
                    </div>
                    <div class="testimonial-single-card-block">
                        <div class="testimonial-image-block">
                            <img src={VishwaImage.src} loading="lazy" alt="" class="testimonial-image">
                        </div>
                        <div class="testimonial-content-block">
                            <h3 class="testimonial-author-name font-bold">Vishwa M</h3>
                            <div class="testimonial-designation-text font-bold text-[#8D8D9B]">Brand Designer</div>
                        </div>
                    </div>
                    <!-- <div class="testimonial-single-card-block">
                        <div class="testimonial-image-block">
                            <img src="https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d06fbefee4ba36d54e_nizam.png" loading="lazy" sizes="(max-width: 479px) 200px, (max-width: 991px) 250px, (max-width: 1439px) 15vw, 14vw" srcset="https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d06fbefee4ba36d54e_nizam-p-500.png 500w, https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d06fbefee4ba36d54e_nizam.png 801w" alt="" class="testimonial-image">
                        </div>
                        <div class="testimonial-content-block">
                            <h3 class="testimonial-author-name font-bold">Nizam</h3>
                            <div class="testimonial-designation-text font-bold text-[#8D8D9B]">UI Designer, Webflow</div>
                        </div>
                    </div>
                    <div class="testimonial-single-card-block">
                        <div class="testimonial-image-block">
                            <img src="https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d01d1274373b538f0d_jaydip.png" loading="lazy" sizes="(max-width: 479px) 200px, (max-width: 991px) 250px, (max-width: 1439px) 15vw, 14vw" srcset="https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d01d1274373b538f0d_jaydip-p-500.png 500w, https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d01d1274373b538f0d_jaydip.png 801w" alt="" class="testimonial-image">
                        </div>
                        <div class="testimonial-content-block">
                            <h3 class="testimonial-author-name font-bold">Jaydip</h3>
                            <div class="testimonial-designation-text font-bold text-[#8D8D9B]">UX &amp; UI Designer</div>
                        </div>
                    </div>
                    <div class="testimonial-single-card-block">
                        <div class="testimonial-image-block">
                            <img src="https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d0124be164a91d60be_tom.png" loading="lazy" sizes="(max-width: 479px) 200px, (max-width: 991px) 250px, (max-width: 1439px) 15vw, 14vw" srcset="https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d0124be164a91d60be_tom-p-500.png 500w, https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d0124be164a91d60be_tom.png 800w" alt="" class="testimonial-image">
                        </div>
                        <div class="testimonial-content-block">
                            <h3 class="testimonial-author-name font-bold">Tom</h3>
                            <div class="testimonial-designation-text font-bold text-[#8D8D9B]">Founder</div>
                        </div>
                    </div> -->
                </div>

                <!-- Mobile version (hidden on lg screens) -->
                <div class="w-full grid grid-cols-3 gap-4 px-4 lg:hidden">
                    <div class="testimonial-single-card-block-mobile">
                        <div class="testimonial-image-block-mobile">
                            <img src="https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d0b2e9f8328911bfe1_loren.png" 
                                 loading="lazy" 
                                 alt="" 
                                 class="testimonial-image-mobile">
                        </div>
                        <div class="testimonial-content-block-mobile">
                            <h3 class="testimonial-author-name-mobile font-bold">Loren</h3>
                            <div class="testimonial-designation-text-mobile font-bold text-[#8D8D9B]">PM</div>
                        </div>
                    </div>
                    <div class="testimonial-single-card-block-mobile">
                        <div class="testimonial-image-block-mobile">
                            <img src="https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d0cad94a1b82e31b6a_david.png" 
                                 loading="lazy" 
                                 alt="" 
                                 class="testimonial-image-mobile">
                        </div>
                        <div class="testimonial-content-block-mobile">
                            <h3 class="testimonial-author-name-mobile font-bold">David</h3>
                            <div class="testimonial-designation-text-mobile font-bold text-[#8D8D9B]">UX</div>
                        </div>
                    </div>
                    <div class="testimonial-single-card-block-mobile">
                        <div class="testimonial-image-block-mobile">
                            <img src="https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d080115bb772af2a6c_helena.png" 
                                 loading="lazy" 
                                 alt="" 
                                 class="testimonial-image-mobile">
                        </div>
                        <div class="testimonial-content-block-mobile">
                            <h3 class="testimonial-author-name-mobile font-bold">Helena</h3>
                            <div class="testimonial-designation-text-mobile font-bold text-[#8D8D9B]">Brand</div>
                        </div>
                    </div>
                    <div class="testimonial-single-card-block-mobile">
                        <div class="testimonial-image-block-mobile">
                            <img src="https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d06fbefee4ba36d54e_nizam.png" 
                                 loading="lazy" 
                                 alt="" 
                                 class="testimonial-image-mobile">
                        </div>
                        <div class="testimonial-content-block-mobile">
                            <h3 class="testimonial-author-name-mobile font-bold">Nizam</h3>
                            <div class="testimonial-designation-text-mobile font-bold text-[#8D8D9B]">UI</div>
                        </div>
                    </div>
                    <div class="testimonial-single-card-block-mobile">
                        <div class="testimonial-image-block-mobile">
                            <img src="https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d01d1274373b538f0d_jaydip.png" 
                                 loading="lazy" 
                                 alt="" 
                                 class="testimonial-image-mobile">
                        </div>
                        <div class="testimonial-content-block-mobile">
                            <h3 class="testimonial-author-name-mobile font-bold">Jaydip</h3>
                            <div class="testimonial-designation-text-mobile font-bold text-[#8D8D9B]">UX/UI</div>
                        </div>
                    </div>
                    <div class="testimonial-single-card-block-mobile">
                        <div class="testimonial-image-block-mobile">
                            <img src="https://cdn.prod.website-files.com/668442316cf533d9ea640fb0/66ed52d0124be164a91d60be_tom.png" 
                                 loading="lazy" 
                                 alt="" 
                                 class="testimonial-image-mobile">
                        </div>
                        <div class="testimonial-content-block-mobile">
                            <h3 class="testimonial-author-name-mobile font-bold">Tom</h3>
                            <div class="testimonial-designation-text-mobile font-bold text-[#8D8D9B]">CEO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <div class="page6 "> 
                <div class="bottomtext">
                    <p>We Are Hiring !</p>
                    <span class="mt-24 text-center text-md">We are always on the lookout for passionate, talented individuals to join our dynamic team! If you're eager to make an impact, innovate, and grow in a collaborative environment, we want to hear from you. Explore our current job openings and take the first step toward an exciting career with us. Your next opportunity could be just a click away!</span>
                    <div class="mt-24 contact-button text-sm text-center py-5 px-8 bg-[#ff6d00] rounded-full w-fit font-medium hover:bg-black hover:text-white transition-all duration-300 ">Contact to Apply</div>
                </div> 
            </div>
            <div id="custom-cursor-product"></div>

        </div>

        <!-- Contact Form -->
        <ContactForm />
    </div>
    <!-- <div class="w-full min-h-screen flex items-center justify-center bg-[#E7E7D6]">
        <div class="text-center">
            <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold akira mb-4">
                Realising Soon
            </h1>
            <p class="text-lg md:text-xl text-gray-600">
                We're working on something exciting. Stay tuned!
            </p>
        </div>
    </div> -->
    <Footer/>
</Layout>

<style>

    .testimonial-image{
        width: 12rem;
        height: 14rem;
        object-fit: cover;
        border-radius: 20%;
        filter: grayscale(100%);
        transition: filter 0.3s ease;
    }

    .testimonial-image:hover{
        filter: grayscale(0%);
    }

    .akira{
        font-family: 'new', sans-serif;
        font-weight: 700;
        font-stretch: 420%;
        line-height: 100%;
    }

    #main {
    cursor: none;
    }

#custom-cursor-product {
    position: fixed;
    pointer-events: none;
    font-family: 'MediaanItalic';
    z-index: 10000;
    opacity: 0;
    width:50px;
    height:50px;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%); /* Center the cursor */
    
  }

.page6 {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.bottomtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'new', sans-serif;
    font-weight: 700;
    font-size: 80px;
    font-stretch: 700%;
}

@media (max-width: 768px) {
    .bottomtext {
        font-size: 32px;
    }
}


.bottomtext p {
    line-height: 0.8;
    text-align: start;
    transition: all 0.5s ease;
}


.bottomtext span {
    font-family: 'new', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    font-stretch: 700%;
    width: 70%;
    text-wrap: balance;
    line-height: 1.2;

}   

@media (max-width: 768px) {
    .bottomtext span {
        font-size: 1rem;
    }
}

.bottomtext p:hover {
    font-weight: 900;
}


.contact-section {
    background-color: #E7E7D6;
    padding: 4rem 0;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .contact-section p {
    color: #666;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 20px;
  }

  .button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .button-group button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
  }

  textarea {
    height: 100px;
    resize: vertical;
  }

  .submit-button {
    background-color: #ff6d00;
    color: black;
    font-weight: 700;
    border: none;
    padding: 1.1rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    width: 30%;
    transition: all 0.5s ease;
  }

  @media (max-width: 768px) {
    .submit-button {
        width: 100%;
    }
  }

  .submit-button:hover {
    background-color: black;
    color: white;
  }

  .location-card {
    min-height: 200px;
    transition: all 0.3s ease;
  }

  .location-card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.3); /* Lighter overlay on hover */
  }

  .location-card:hover {
    transform: scale(1.02);
  }

  /* Add these styles */
  .testimonial-single-card-block-mobile {
    @apply flex flex-col items-center justify-center;
  }

  .testimonial-image-block-mobile {
    @apply w-20 h-20 overflow-hidden rounded-full mb-2;
  }

  .testimonial-image-mobile {
    @apply w-full h-full object-cover;
  }

  .testimonial-content-block-mobile {
    @apply text-center;
  }

  .testimonial-author-name-mobile {
    @apply text-sm;
  }

  .testimonial-designation-text-mobile {
    @apply text-xs;
  }
</style>
<script>

    import { gsap } from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);

    const cursor = document.getElementById('custom-cursor-product');
    let isVisible = false;

    function updateCursorPosition(e) {
        cursor.style.left = `${e.clientX}px`;
        cursor.style.top = `${e.clientY}px`;
    }

    function showCursor() {
        if (!isVisible) {
        cursor.style.opacity = '1';
        isVisible = true;
        }
    }

    function hideCursor() {
        cursor.style.opacity = '0';
        isVisible = false;
    }

    document.addEventListener('mousemove', updateCursorPosition);

    const main = document.getElementById('main');
    
        main.addEventListener('mouseenter', showCursor);
        main.addEventListener('mouseleave', hideCursor);
        main.addEventListener('mousemove', (e) => {
        updateCursorPosition(e);
    });

    gsap.from('.astrix', {
        rotation: 360,
        duration: 4,
        ease: 'linear',
        repeat: -1
    });
</script>




////hello@cxpoint.co.uk