---
import astrix from "../../public/assets/whiteAsterisk.png"

---

<div class="w-screen h-screen main_container relative">
    <div class="absolute left-0 top-0 w-screen h-screen z-40   child_container">
        <div class="w-full h-full flex items-center justify-center">
            <div class="w-[100%] md:w-[50%] h-full bg-[#1E1E1D] md:p-14 p-4 flex flex-col">
                <div class="flex flex-col">
                    <p class=" text-[2rem] md:text-[1.2rem] font-bold leading-[100%] mb-2 md:mb-2 text-[#ff6d00]">
                        Platform discovery matters
                    </p>
                    <p class=" text-[1.1rem] font-semibold leading-[100%] w-[70%] text-white/70">
                        Your website, product, or branding is the first interaction potential customers have with your business.A professional design creates a strong, positive first impression, leading to increased trust and credibility.
                    </p>
                </div>
                <div class="flex flex-col">
                    <p class="font-new statistics mt-8 ">
                        75 % 
                    </p>
                    <p class="text-[#E7E7D6] text-[2rem] font-bold leading-[100%]">
                        of discovery effort are highly depended on technical system and insights
                    </p>
                </div>
                <p class="w-[80%] text-[1.1rem] font-semibold leading-[100%] text-white/70 mt-10">
                    A well designed website can make a lasting impression, setting the stage for long-term success.
                </p>
            </div>
            <div class="w-[50%] h-full bg-[#1E1E1D] p-14 hidden md:flex items-start justify-center pt-24">
                <img src={astrix.src} alt="asterisk" class="w-[20%] astrix-clock">
                <img src={astrix.src} alt="asterisk" class="w-[20%] ">
                <img src={astrix.src} alt="asterisk" class="w-[20%] astrix-clock">
                <img src={astrix.src} alt="asterisk" class="w-[20%] astrix-anticlock">
            </div>
        </div>
    </div>
    <div class="absolute left-0 top-0 w-screen h-screen z-30  child_container">
        <div class="w-full h-full flex items-center justify-center">
            <div class="w-[100%] md:w-[50%] h-full bg-[#1E1E1D] md:p-14 p-4 flex flex-col">
                <div class="flex flex-col">
                    <p class="text-[#ff6d00] text-[2rem] md:text-[1.2rem] font-bold leading-[100%] mb-2 md:mb-2">
                        Effort-free excellence for Contact centers via AI based automation
                    </p>
                    <p class="text-white/70 text-[1.1rem] font-semibold leading-[100%] w-[70%] ">
                        Effective branding distinguishes your business from competitors, creating a unique identity that resonates with your target audience.This fosters customer loyalty and trust, setting your brand apart in the market.
                    </p>
                </div>
                <div class="flex flex-col">
                    <p class="font-new statistics mt-8">
                        3-5 x
                    </p>
                    <p class="text-[#E7E7D6] text-[2rem] font-bold leading-[100%]">
                        Higher effort Savings on Contact center operations 
                    </p>
                </div>
                <p class="w-[80%] text-[1.1rem] font-semibold leading-[100%] text-white/70 mt-10">
                    Save time, save effort—our product streamlines your workflow, making every task easier and more efficient.
                </p>
            </div>
            <div class="w-[50%] h-full bg-[#1E1E1D] p-14 hidden md:flex items-start justify-center pt-24">
                <img src={astrix.src} alt="asterisk" class="w-[20%] ">
                <img src={astrix.src} alt="asterisk" class="w-[20%] astrix-clock">
                <img src={astrix.src} alt="asterisk" class="w-[20%] ">
                <img src={astrix.src} alt="asterisk" class="w-[20%] astrix-clock">
            </div>
        </div>
    </div>
    <div class="absolute left-0 top-0 w-screen h-screen z-20  child_container">
        <div class="w-full h-full flex items-center justify-center">
        <div class="w-[100%] md:w-[50%] h-full bg-[#1E1E1D] md:p-14 p-4 flex flex-col">
            <div class="flex flex-col">
                <p class="text-[#ff6d00] text-[2rem] md:text-[1.2rem] font-bold leading-[100%] mb-2 md:mb-2">
                    Improved Xperience and productivity across Contact Center Ecosystem
                </p>
                <p class=" text-[1.1rem] font-semibold leading-[100%] w-[100%] text-white/70">
                    Good experience across Contact center Ecosystem is essential element for Agents, supervisors, business users, developers all across as well as for customer. A well-designed AI based application will ensures ease of use, accessibility, improved outcomes, reduced operations time, boost user productivity on Contact center platform and faster market value realization
                </p>
            </div>
            <div class="flex flex-col">
                <p class="font-new statistics ">
                    10 x
                </p>
                <p class="text-[#E7E7D6] text-[2rem] font-bold leading-[100%]">
                    of customers prefer businessess with seamless intiuitive UX
                </p>
            </div>
            <p class="w-[80%]  text-[1.1rem] font-semibold leading-[100%] text-white/70 mt-10">
                Positive UX leads to higher satisfaction levels, as users find it easier to navigate and achieve their goals on the site
            </p>
        </div>
        <div class="w-[50%] h-full bg-[#1E1E1D] p-14 md:flex hidden items-start justify-end pt-24">
            <div class="px-10 py-14 bg-[#FF6D00] flex items-center justify-center rounded-2xl cover">
                <img src={astrix.src} alt="asterisk" class="w-[110%] astrix-clock">
            </div>
        </div>
        </div>
    </div>
    <div class="absolute left-0 top-0 w-screen h-screen z-10">
        <div class="w-full h-full flex items-center justify-center bg-[#1E1E1D] text-[#E7E7D6] overflow-hidden relative">
            <p class="font-new  company absolute top-[50%] md:top-[20%] xl:top-[25%] text-nowrap">CX POINT</p>

        </div>
    </div>
</div>

<style>
    .font-new{
        font-family: 'new';
    }

    .statistics{
        font-stretch: 300%;
        font-weight: 900;
        font-size: 24rem;
        line-height: 100%;
        color: #E7E7D6
    }

    @media screen and (max-width: 768px) {
        .statistics{
            font-size: 10rem;
        }
    }

    .company{
        font-size: 32rem;
        font-stretch: 400%;
        font-weight: 900;
    }

    @media screen and (max-width: 768px) {
        .company{
            font-size: 6rem;
            transform: translateY(-50%);
        }
    }

    @media screen and (min-width:1440px ) {
        .company{
            font-size: 30rem;
        }
    }
</style>

<script>
    gsap.registerPlugin(ScrollTrigger);

    const child_containers = document.querySelectorAll(".child_container");

    // Stagger scale to 0 animation for child_containers
    gsap.to(child_containers, {
        scrollTrigger: {
            trigger: ".main_container",
            start: "top top",
            end: "bottom+=200% top",
            pin: true, // Pin the main_container
            scrub: true,
        },
        scale: 0,
        stagger: 4, // Stagger the animation by 0.2 seconds
        ease: "power1.inOut",
        duration: 1 // Duration of the scale animation
    });

    gsap.to(".astrix-clock", {
        rotate: 360,
        ease: "none",
        duration: 10,
        repeat: -1
    })

</script>