---
import astrix from "../../public/assets/whiteAsterisk.png"
import firstImage from "../../public/assets/ProductsPage_AX Xperience01.png"
import secondImage from "../../public/assets/ProductsPage_BX Xperience01.png"
import thirdImage from "../../public/assets/ProductsPage_CX Xperience01.png"
import fourthImage from "../../public/assets/ProductsPage_DX Xperience01.png"

---

<div class="w-screen h-screen main_container relative">
    <div class="absolute left-0 top-0 w-screen h-screen z-[50]  child_container">
        <div class="w-full h-full flex items-center justify-center">
            <div class="w-full md:w-[50%] h-full bg-[#1E1E1D] px-2 lg:px-14 py-2 flex flex-col">
                <div class="flex flex-col">
                    <p class="font-new statistics leading-none">
                        AX
                    </p>
                    <p class="text-white/70 ps-2 text-[2rem] font-bold leading-[100%] lg:leading-[100%]">
                        Agent Experience
                    </p>
                </div>
                <div class="flex flex-col mt-16">
                    <p class="text-[#FF6D00] text-[1.2rem] font-bold">
                        First Impressions matter
                    </p>
                    <p class="text-white text-[1.1rem] font-semibold leading-[100%] w-[100%] lg:w-[70%] text-white/70">
                        Cxpoint automation tools in the contact center, businesses and contact center platform owners can significantly improve agent experience by reducing stress, increasing efficiency, and allowing agents to focus on more engaging and rewarding tasks. 
                    </p>
                </div>
                
                <p class="w-[80%] text-white text-[1.1rem] font-semibold leading-[100%] text-white/70 mt-4">
                    This, in turn, can lead to higher job satisfaction, better performance, and lower turnover rates, ultimately benefiting both the agents and the overall customer experience.
                </p>
            </div>
            <div class="w-[50%] h-full bg-[#1E1E1D] md:flex hidden items-start justify-center">
                <!-- <img src={astrix.src} alt="asterisk" class="w-[20%] astrix-clock">
                <img src={astrix.src} alt="asterisk" class="w-[20%] ">
                <img src={astrix.src} alt="asterisk" class="w-[20%] astrix-clock">
                <img src={astrix.src} alt="asterisk" class="w-[20%] astrix-anticlock"> -->
                <div class="w-full h-full flex items-center justify-center overflow-hidden rounded-bl-[10rem]">
                    <img src={firstImage.src} class="w-full h-full object-cover object-center">
                </div>
            </div>
        </div>
    </div>
    <div class="absolute left-0 top-0 w-screen h-screen z-40  child_container">
        <div class="w-full h-full flex items-center justify-center">
            <div class="w-full md:w-[50%] h-full bg-[#1E1E1D] px-2 lg:px-14 py-2 flex flex-col">
                <div class="flex flex-col">
                    <p class="font-new statistics leading-none ">
                        BX
                    </p>
                    <p class=" ps-2 text-[2rem] font-bold text-[#E7E7D6] leading-[100%] lg:leading-[100%]">
                        Business Experience
                    </p>
                </div>
                <div class="flex flex-col mt-16">
                    <p class="text-[#FF6D00] text-[1.2rem] font-bold">
                        First Impressions matter
                    </p>
                    <p class="text-white text-[1.1rem] font-semibold leading-[100%] w-[100%] lg:w-[70%] text-white/70">
                        CXPoint products for Cloud contact centers help improve the business experience in your contact centers by optimizing operational efficiency, reducing costs, improving scalability, and enhancing both your customer satisfaction and agent productivity
                    </p>
                </div>
                
                <p class="w-[80%] text-white text-[1.1rem] font-semibold leading-[100%] text-white/70 mt-4">
                    By automating routine tasks, businesses can free up resources for more strategic initiatives, allowing them to improve performance, reduce overhead, and ultimately offer better service to customers.
                </p>
            </div>
            <div class="w-[50%] h-full bg-[#1E1E1D] md:flex hidden items-start justify-center">
                <div class="w-full h-full flex items-center justify-center overflow-hidden rounded-bl-[10rem]">
                    <img src={secondImage.src} class="w-full h-full object-cover object-center">
                </div>
            </div>
        </div>
    </div>
    <div class="absolute left-0 top-0 w-screen h-screen z-30   child_container">
        <div class="w-full h-full flex items-center justify-center">
            <div class="w-full md:w-[50%] h-screen md:h-full bg-[#1E1E1D] px-2 lg:px-14 py-2 flex flex-col">
                <div class="flex flex-col">
                    <p class="font-new statistics leading-none">
                        CX
                    </p>
                    <p class="text-white/70 ps-2 text-[2rem] font-bold leading-[100%] lg:leading-[100%]" >
                        Customer Experience
                    </p>
                </div>
                <div class="flex flex-col mt-16">
                    <p class="text-[#FF6D00] text-[1.2rem] font-bold mb-2">
                        First Impressions matter
                    </p>
                    <p class="text-white text-[1.1rem] font-semibold leading-[100%] w-[100%] lg:w-[90%] text-white/70">
                        When done correctly, Automation in contact centers significantly improves customer experience by offering faster response times, 24/7 availability, consistent and accurate information, and more personalized service. It empowers customers through self-service options, reduces friction across channels, and helps businesses proactively address issues.
                    </p>
                </div>
                
                <p class="w-[90%] text-white text-[1.1rem] font-semibold leading-[100%] text-white/70 mt-4">
                    Automation enhances both the efficiency of the contact center product and the overall satisfaction of your end customers leading to a better customer journeys, higher loyalty, and ultimately, improved CX which your business deserves.​
                </p>
            </div>
            <div class="w-[50%] h-full bg-[#1E1E1D] md:flex hidden items-start justify-center">
                <!-- <img src={astrix.src} alt="asterisk" class="w-[20%] astrix-clock">
                <img src={astrix.src} alt="asterisk" class="w-[20%] ">
                <img src={astrix.src} alt="asterisk" class="w-[20%] astrix-clock">
                <img src={astrix.src} alt="asterisk" class="w-[20%] astrix-anticlock"> -->
                <div class="w-full h-full flex items-center justify-center overflow-hidden rounded-bl-[10rem]">
                    <img src={thirdImage.src} class="w-full h-full object-cover object-center">
                </div>
            </div>
        </div>
    </div>
    <div class="absolute left-0 top-0 w-screen h-screen z-20 child_container">
        <div class="w-full h-full flex items-center justify-center">
            <div class="w-full md:w-[50%] h-full bg-[#1E1E1D] px-2 lg:px-14 py-2 flex flex-col">
                <div class="flex flex-col">
                    <p class="font-new statistics leading-none">
                        DX
                    </p>
                    <p class="text-white/70 ps-2 text-[2rem] font-bold leading-[100%] lg:leading-[100%]">
                        Developer Experience
                    </p>
                </div>
                <div class="flex flex-col mt-16">
                    <p class="text-[#FF6D00] text-[1.2rem] font-bold">
                        First Impressions matter
                    </p>
                    <p class="text-white text-[1.1rem] font-semibold leading-[100%] w-[100%] lg:w-[70%] text-white/70">
                        Your website, product, or branding is the first interaction potential customers have with your business.A professional design creates a strong, positive first impression, leading to increased trust and credibility.
                    </p>
                </div>
                
                <p class="w-[80%] text-white text-[1.1rem] font-semibold leading-[100%] text-white/70 mt-4">
                    A well designed website can make a lasting impression, setting the stage for long-term success.
                </p>
            </div>
            <div class="w-[50%] h-full bg-[#1E1E1D] md:flex hidden items-start justify-center">
                <div class="w-full h-full flex items-center justify-center overflow-hidden rounded-bl-[10rem]">
                    <img src={fourthImage.src} class="w-full h-full object-cover object-center">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="absolute left-0 top-0 w-screen h-screen z-20  child_container">
        <div class="w-full h-full flex items-center justify-center">
            <div class="w-full md:w-[50%] h-full bg-[#1E1E1D] px-2 lg:px-14 py-2 flex flex-col">
                <div class="flex flex-col">
                    <p class="font-new statistics leading-none ">
                        BX
                    </p>
                    <p class=" ps-2 text-[2rem] font-bold text-[#E7E7D6] leading-[100%] lg:leading-[100%]">
                        Business Experience
                    </p>
                </div>
                <div class="flex flex-col mt-16">
                    <p class="text-[#FF6D00] text-[1.2rem] font-bold">
                        First Impressions matter
                    </p>
                    <p class="text-white text-[1.1rem] font-semibold leading-[100%] w-[100%] lg:w-[70%] text-white/70">
                        Your website, product, or branding is the first interaction potential customers have with your business.A professional design creates a strong, positive first impression, leading to increased trust and credibility.
                    </p>
                </div>
                
                <p class="w-[80%] text-white text-[1.1rem] font-semibold leading-[100%] text-white/70 mt-4">
                    A well designed website can make a lasting impression, setting the stage for long-term success.
                </p>
            </div>
            <div class="w-[50%] h-full bg-[#1E1E1D] md:flex hidden items-start justify-center">
                <div class="w-full h-full flex items-center justify-center overflow-hidden">
                    <img src={secondImage.src} class="w-full h-full object-fit">
                </div>
            </div>
        </div>
    </div> -->
    <div class="flex absolute left-0 top-0 w-screen h-screen z-10 ">
        <div class="w-full h-full flex items-center justify-center bg-[#1E1E1D] text-[#E7E7D6] overflow-hidden relative">
            <p class="font-new text-10px lg:text-[70rem] company absolute top-[40%] lg:top-[20%] text-nowrap">CX POINT</p>

        </div>
    </div>
</div>

<style>
    .font-new{
        font-family: 'new';
    }

    .statistics{
        font-stretch: 300%;
        font-weight: 900;
        font-size: 24rem;
        line-height: 100%;
        color: #E7E7D6;
    }

    @media (max-width: 768px) {
        .statistics{
            font-size: 18rem;
        }
    }

    .company{
        font-size: 32rem;
        font-stretch: 400%;
        font-weight: 900;
    }

    @media (max-width: 768px) {
        .company{
            font-size: 5rem;
        }
    }

</style>

<script>
    gsap.registerPlugin(ScrollTrigger);

    const child_containers = document.querySelectorAll(".child_container");

    // Stagger scale to 0 animation for child_containers
    gsap.to(child_containers, {
        scrollTrigger: {
            trigger: ".main_container",
            start: "top top",
            end: "bottom+=10% top",
            pin: true, // Pin the main_container
            scrub: 2,
        },
        scale: 0,
        stagger: 4, // Stagger the animation by 0.2 seconds
        ease: "power1.inOut",
        duration: 1 // Duration of the scale animation
    });

    gsap.to(".astrix-clock", {
        rotate: 360,
        ease: "none",
        duration: 10,
        repeat: -1
    })

</script>