---
import firstCard from '../../public/assets/Products_VoyageScreen.png';
import secondCard from '../../public/assets/Products_NexaScreen.png';
import thirdCard from '../../public/assets/Products_APIXScreen.png';

import astrix from '../../public/assets/asterisk.png';

const services = [
  {
    title: "VOYAGE – An intelligent AI Powered Contact center platform discovery platform​",
    description: "Save 50-60% on contact center platform discovery effort by gaining detailed insights on legacy CC data and data mining and streamlined discovery process of complex technical landscape. Benefit from applied analytical view and KPIs to measure key object statistics and values, visualize contact center journeys and platform flows and gain deeper insights about business logic while migrating to cloud​",
    image: firstCard
  },
  {
    title: "NEXA – Smart Cloud Contact center software management platform​",
    description: "Nexa revolutionizes the efficiencies of customer service teams by integrating experience and advanced AI capabilities together. It provides businesses with secure and scalable, flexible solutions for managing cloud contact center platforms across multiple regions and business operating groups/teams, ensuring efficient platform management and personalized experiences. ",
    image: secondCard
  },
  {
    title: "APIX – Control your API Overages and usage like never before",
    description: "Our AI-based Contact Center API Usage Tracking and Management Platform leverages advanced AI to monitor, analyze, and optimize the performance of Cloud contact center APIs usage within your contact center. It provides real-time insights into Cloud contact center API usage, which helps you manage end to end API performance for your cloud contact center, reduce downtime, and enhance the overall customer experience with data-driven decisions.​",
    image: thirdCard
  }
];
---

<div class="service-cards">
  <div class="flex flex-col items-start justify-center gap-0 max-w-[800px] ps-2 lg:px-10 mb-20 2xl:mt-20">
    <div class="flex md:flex-row flex-col items-start md:items-center justify-center gap-4 lg:gap-2 new">
      <svg class="rotating-asterisk" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.311 30.7873V21.195L3.95649 25.9911L0.862207 20.6535L9.21676 15.8574L0.862207 11.0612L3.95649 5.64626L12.311 10.4424V0.850127H18.577V10.4424L26.8541 5.64626L30.0258 11.0612L21.6712 15.8574L30.0258 20.6535L26.8541 25.9911L18.577 21.2724V30.7873H12.311Z" fill="black"></path>
      </svg>
      <p class="font animated-text xl:text-[1.6rem]">Create something amazing in your cloud contact centers with </p>
    </div>
    <p class="font animated-text xl:text-[1.6rem]">our products. We handle everything from platform discovery to design development and object management to migration, transforming your vision into a thriving business, faster. Using AI data-driven insights and creative innovation, we have built cohesive, scalable solutions to make you succeed in your journey to cloud using CXPoint powered automation.</p>
  </div>
  <div class="flex md:flex-row flex-col items-start justify-around">
  {services.map(service => (
    <div class="card">
      <div class="card-content px-8 py-4 overflow-hidden">
        <h2 class="leading-[1] ">{service.title}</h2>
        <p class="text-muted">{service.description}</p>
      </div>
      <img src={service.image.src} alt={service.title} />
    </div>
    ))}
    </div>
  </div>
</div>

<!-- <div id="custom-cursor" class="custom-cursor flex items-center justify-center bg-white/55 font-bold">See More</div> -->

<style>
  .font{
    font-family: 'new', sans-serif;
    font-weight: 600;
    font-stretch: 450%;
    line-height: 1.1;
  }
  .new{
    font-family: 'new', sans-serif;
    font-size: 1.7rem; 
    font-weight: 600;
    font-stretch: 450%;
    line-height: 1;
  }

  @media (max-width: 768px) {
    .new{
      font-size: 1.5rem;
    }
  }
  .service-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
  }

  @media (max-width: 768px) {
    .service-cards {
      padding:1rem 0;
      gap: 2rem;
    }
  }

  .card {
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 10px;
    padding-top: 20px;
    height: 650px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    .card {
      width: 100%;
      margin-bottom: 2rem;
      border-radius: 50px;
    }
  }

  .card h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    .card h2 {
      margin-bottom: 2rem;
    }
  }

  .card p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .card img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
 
  }

  .custom-cursor {
    position: fixed;
    pointer-events: none;
    font-family: 'MediaanItalic';
    z-index: 10000;
    opacity: 0;
    width:100px;
    height:100px;
    border-radius: 50%;
    color: black;
    border: 2px solid white;
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%); /* Center the cursor */
    
  }

  @media (max-width: 768px) {
    .service-cards {
      flex-direction: column;
      align-items: center;
    }

    .card {
      width: 100%;
      max-width: 300px;
    }
  }
</style>

<script>
  const cursor = document.getElementById('custom-cursor');
  let isVisible = false;

  gsap.from('.astrix', {
        rotation: 360,
        duration: 4,
        ease: 'linear',
        repeat: -1
    });

  function updateCursorPosition(e) {
    cursor.style.left = `${e.clientX}px`;
    cursor.style.top = `${e.clientY}px`;
  }

  function showCursor() {
    if (!isVisible) {
      cursor.style.opacity = '1';
      isVisible = true;
    }
  }

  function hideCursor() {
    cursor.style.opacity = '0';
    isVisible = false;
  }

  document.addEventListener('mousemove', updateCursorPosition);

  const imageContainers = document.querySelectorAll('.card');
  imageContainers.forEach(container => {
    container.addEventListener('mouseenter', showCursor);
    container.addEventListener('mouseleave', hideCursor);
    container.addEventListener('mousemove', (e) => {
      updateCursorPosition(e);
    });
  });
</script>
