---
import { Download } from "@astropub/icons";
const cards = [
  {
    title: "Evaluate and improve your product concept",
    description: "Leverage our data-driven approach, powered by AI, to conduct a deep analysis of your product idea. We identify market potential and target audience, providing actionable insights to ensure your product matters to the right people.",
    image: "/assets/first-card.png",
    overlay_text: "Aerospace and Defense",
  },
  {
    title: "Evaluate and improve your product concept",
    description: "Leverage our data-driven approach, powered by AI, to conduct a deep analysis of your product idea. We identify market potential and target audience, providing actionable insights to ensure your product matters to the right people.",
    image: "/assets/third-card.png",
    overlay_text: "Automotive",
    pdfLink:"/assets/Automotive.docx"
  },
  {
    title: "Evaluate and improve your product concept",
    description: "Leverage our data-driven approach, powered by AI, to conduct a deep analysis of your product idea. We identify market potential and target audience, providing actionable insights to ensure your product matters to the right people.",
    image: "/assets/second-card.png",
    overlay_text: "Banking",
    pdfLink:"/assets/Banking.docx"
  },
  {
    title: "Evaluate and improve your product concept",
    description: "Leverage our data-driven approach, powered by AI, to conduct a deep analysis of your product idea. We identify market potential and target audience, providing actionable insights to ensure your product matters to the right people.",
    image: "/assets/first-card.png",
    overlay_text: "Communication and Media",
    pdfLink:"/assets/Media_and_Communication.docx"
  },
  {
    title: "Evaluate and improve your product concept",
    description: "Leverage our data-driven approach, powered by AI, to conduct a deep analysis of your product idea. We identify market potential and target audience, providing actionable insights to ensure your product matters to the right people.",
    image: "/assets/first-card.png",
    overlay_text: "Consumer Goods and Services",
    pdfLink:"/assets/Customer_Goods and_Services.docx"
  },
  {
    title: "Evaluate and improve your product concept",
    description: "Leverage our data-driven approach, powered by AI, to conduct a deep analysis of your product idea. We identify market potential and target audience, providing actionable insights to ensure your product matters to the right people.",
    image: "/assets/first-card.png",
    overlay_text: "Energy",
    pdfLink:"/assets/Energy.docx"
  },
  {
    title: "Evaluate and improve your product concept",
    description: "Leverage our data-driven approach, powered by AI, to conduct a deep analysis of your product idea. We identify market potential and target audience, providing actionable insights to ensure your product matters to the right people.",
    image: "/assets/first-card.png",
    overlay_text: "Health",
    pdfLink:"/assets/Health_and_Pharma.docx"
  },
  {
    title: "Evaluate and improve your product concept",
    description: "Leverage our data-driven approach, powered by AI, to conduct a deep analysis of your product idea. We identify market potential and target audience, providing actionable insights to ensure your product matters to the right people.",
    image: "/assets/first-card.png",
    overlay_text: "Insurance",
    pdfLink:"/assets/Insurance.docx"
  },
  {
    title: "Evaluate and improve your product concept",
    description: "Leverage our data-driven approach, powered by AI, to conduct a deep analysis of your product idea. We identify market potential and target audience, providing actionable insights to ensure your product matters to the right people.",
    image: "/assets/first-card.png",
    overlay_text: "Public Service"
  },
  {
    title: "Evaluate and improve your product concept",
    description: "Leverage our data-driven approach, powered by AI, to conduct a deep analysis of your product idea. We identify market potential and target audience, providing actionable insights to ensure your product matters to the right people.",
    image: "/assets/first-card.png",
    overlay_text: "Retail"
  },
  {
    title: "Evaluate and improve your product concept",
    description: "Leverage our data-driven approach, powered by AI, to conduct a deep analysis of your product idea. We identify market potential and target audience, providing actionable insights to ensure your product matters to the right people.",
    image: "/assets/first-card.png",
    overlay_text: "Travel",
    pdfLink:"/assets/Travel.docx"
  },
  {
    title: "Evaluate and improve your product concept",
    description: "Leverage our data-driven approach, powered by AI, to conduct a deep analysis of your product idea. We identify market potential and target audience, providing actionable insights to ensure your product matters to the right people.",
    image: "/assets/first-card.png",
    overlay_text: "Utilities",
    pdfLink:"/assets/Oil-Gas-Utilities.docx"
  },
  // Add more card data here...
];
---

<div class="container-box">
  <div class="card-grid">
    {cards.map((card, index) => (
      <div class={`card-wrapper card-${index + 1}`}>
        <div class="card-inner">
          <div class="card-front">
            <div class={`overlay overlay-${index + 1}`}>{card.overlay_text}</div>
          </div>
          <div class="card-back">
            <div class="card">
              <div class="card-content">
                <h2>{card.title}</h2>
                <div class="">
                  <p>{card.description}</p>
                  {card.pdfLink && (
                    <a href={card.pdfLink} download class="text-white my-4 font-semibold">
                      Download PDF<Download class="inline-flex ms-2" size={15}/>
                    </a>
                  )}
                </div>
              </div>
              <div class="card-image">
                <img src={card.image} alt="Product concept visualization" />
              </div>
            </div>
          </div>
        </div>
      </div>
    ))}
  </div>
</div>

<style>
  .container-box {
    max-width: 1900px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #E7E7D6;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
  }

  .card-wrapper {
    position: relative;
    perspective: 1000px;
    height: 80vh;
  }

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .card-wrapper:hover .card-inner {
    transform: rotateX(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card-front {
    /* Remove background-color if you want to see through to the overlay */
  }

  .card-back {
    transform: rotateX(180deg);
    background-color: #1a1a1a;
  }

  .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 29, 0.7);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }

  .overlay-1 {
    background-image: url('/assets/aerospaceAndDefence.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    font-size: 2rem;
    text-wrap: wrap;  
    line-height: 0.9;
    color: #E7E7D6;
  }

  .overlay-2 {
    background-image: url('/assets/automotive.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    font-size: 2rem;
    text-wrap: wrap;
    line-height:0.9;
    color:#E7E7D6
  }

  .overlay-3 {
    background-image: url('/assets/Banking.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    font-size: 2rem;
    text-wrap: wrap;
    line-height:0.9;
    color:#E7E7D6
  }

  .overlay-4 {
    background-image: url('/assets/Media.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    font-size: 2rem;
    text-wrap: wrap;
    line-height:0.9;
    color:#E7E7D6
  }

  .overlay-5 {
    background-image: url('/assets/first-card.png');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    font-size: 2rem;
    line-height:0.9;
    text-wrap: wrap;
    color:#E7E7D6
  }

  .overlay-6 {
    background-image: url('/assets/Energy.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    font-size: 2rem;
    line-height:0.9;
    text-wrap: wrap;
    color:#E7E7D6
  }

  .overlay-7 {
    background-image: url('/assets/Health.jpg');
    display: flex;
    background-position: right;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    font-size: 2rem;
    line-height:0.9;
    text-wrap: wrap;
    color:#E7E7D6
  }

  .overlay-8 {
    background-image: url('/assets/Insurance.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    font-size: 2rem;
    line-height:0.9;
    text-wrap: wrap;
    color:#E7E7D6
  }

  .overlay-9 {
    background-image: url('/assets/publicService.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    font-size: 2rem;
    line-height:0.9;
    text-wrap: wrap;
    color:#E7E7D6
  }

  .overlay-10 {
    background-image: url('/assets/Retail.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    font-size: 2rem;
    line-height:0.9;
    text-wrap: wrap;
    color:#E7E7D6
  }

  .overlay-11 {
    background-image: url('/assets/Travel.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    font-size: 2rem;
    line-height:0.9;
    text-wrap: wrap;
    color:#E7E7D6
  }

  .overlay-12 {
    background-image: url('/assets/Utilities.jpg');
    display: flex;
    justify-content:  center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    font-size: 2rem;
    line-height:0.9;
    text-wrap: wrap;
    color:#E7E7D6
  }

  .card-wrapper:hover .overlay {
    opacity: 1;
  }

  @media (max-width: 1800px) {
    .card-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 1400px) {
    .card-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 1000px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .card-grid {
      grid-template-columns: 1fr;
    }
  }

  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
  }

  .card-content {
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .card-content h2 {
    color: #ffffff;
    font-size: 1.2rem;
    font-family: 'new';
    font-stretch: 500%;
    font-weight: 900;
    margin-bottom: 1.5rem;
  }

  .card-content p {
    color: #a0a0a0;
    font-size: 0.8rem;
    line-height: 1.4;
    margin-bottom: 1rem;
  }

  .card-content a {
    text-decoration: none;
    margin-top: auto;
    display: inline-flex;
    align-items: center;
  }

  .card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: auto;
  }

  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-back {
    transform: rotateX(180deg);
    background-color: #1a1a1a;
    border-radius: inherit; /* This will inherit the border radius from card-wrapper */
  }

  /* Add these border radius styles for the card-front */
  .card-front {
    border-radius: inherit;
  }

  /* Make sure overlay inherits border radius */
  .overlay {
    border-radius: inherit;
  }

  .card-1 {
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 5rem;
  }

  .card-2 {
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
  }

  .card-3 {
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }

  .card-4 {
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
  }
  
  .card-5 {
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
  }
  
  .card-6 {
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
  
  .card-7 {
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
  }
  
  .card-8 {
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
  
  .card-9 {
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
  
  .card-10 {
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
  }
  
  .card-11 {
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
  
  .card-12 {
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
  }

  /* Update these styles to ensure the inner elements inherit the border radius */
  .card-inner, 
  .card-front, 
  .card-back,
  .overlay,
  .card {
    border-radius: inherit;
  }
</style>

<script>
  // The script is no longer needed since we're using CSS transforms
</script>
